:root {
    --header-height: 150px;
    --navbar-height: 65px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));

    --text-color: #000;
    --highlight-color: #ff6e26;
    --background-color: #f0f0f0;
}

* {
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

/* Tap highlight */

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Scrolling bar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #777;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: fadeIn 0.1s ease-in-out;
    overflow-x: hidden;
}

.modal.active {
    display: flex;
}

.modal_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.modal_body {
    background-color: #fff;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}

.modal_panel {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Overlay */
.overlay {
    display: none;
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay.active {
    display: block;
}